:root {
  --color-primary: #3d5afe;
  --color-text: #ededed;
  --gray-dark1: #989898;
  /* Background colors */
  --background-dark-1: #121212;
  --background-dark-2: #2e2e2e;
  /* Border Radius */
  --border-rad-s: 10px;
  --border-rad-m: 20px;
  /* Padding */
  --padding-xxs: 6px;
  --padding-xs: 9px;
  --padding-m: 36px;
  --padding-l: 72px;
  /* Gap */
  --gap-xxs: 6px;
  --gap-xs: 9px;
  --gap-l: 36px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
}

main {
  background-color: var(--background-dark-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-l);
  padding-top: var(--padding-m);
  padding-bottom: var(--padding-l);
}

h1,
h2,
h3 {
  font-weight: normal;
  justify-self: center;
  color: var(--color-text);
}
h3 {
  font-size: 20px;
}
.bold {
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-xxs {
  gap: var(--gap-xxs);
}

.align-items-center {
  align-items: center;
}

.material-symbols-rounded {
  color: var(--color-text);
}

/* Carousel styles */
image-carousel {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.carousel {
  position: relative;
  /* TODO: width */
  width: 1184px;
  overflow: hidden;
  height: fit-content;
}

image-carousel.single .carousel {
  /* TODO: width */
  width: 400px;
}

.scroll-pill {
  width: 25%;
  height: 20px;
  background-color: var(--gray-dark1);
  border-radius: var(--border-rad-m);
}

.scroll-pill > div {
  height: 100%;
  background-color: var(--color-primary);
  border-radius: var(--border-rad-m);
  transition: transform 0.3s ease;
}

.carousel > div {
  display: flex;
  transition: transform 0.4s ease-in-out;
  height: 100%;
  gap: var(--gap-l);
  padding-bottom: var(--padding-xxs);
}

image-carousel > div > h3 {
  width: 100%;
  padding: 0 var(--padding-m);
}

nav > button {
  border: none;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
nav > button:disabled {
  opacity: 50%;
}

/* Carousel card styles */
carousel-card > div {
  width: 221px;
  height: fit-content;
  overflow: hidden;
  background: var(--background-dark-2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  border-radius: var(--border-rad-s);
  text-align: start;
  gap: var(--gap-xxs);
  padding-bottom: var(--padding-xxs);
  position: relative;
}

carousel-card > div > .material-symbols-rounded {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 71px;
  height: 71px;
  aspect-ratio: 1/1;
  display: none;
  background-color: var(--color-primary);
  border-radius: 100%;
}
carousel-card:hover > div > .material-symbols-rounded {
  display: inline-block;
}
carousel-card img {
  width: 100%;
  aspect-ratio: 221/294;
  display: block;
}

carousel-card:hover img {
  filter: blur(1px);
}

.card-info {
  width: 100%;
  padding: 0 var(--padding-xxs);
  gap: var(--gap-xs);
}

.card-info > div {
  justify-content: space-between;
  height: fit-content;
}
